body,
ul,
li,
p {
    background: #fff;
    color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 37.5px;
    overflow: auto
}

body {
    min-width: 290px;
}

#app {
    margin: 0 auto;
    max-width: 10rem;
    position: relative;
}

div {
    display: block;
}

#hometopHeader {
    align-items: center;
    background: #ef4645;
    color: #fff;
    display: flex;
    height: 1.28rem;
    padding-right: 1px;
    max-width: 10rem;
}

#hometopHeader,
.slogo,
.user {
    box-sizing: content-box;
    flex-shrink: 0;
    font-size: 0;
}

#hometopHeader .slogo {
    align-self: stretch;
    background: url(../img/logowy.png) 50% no-repeat;
    background-size: 1.2rem .58667rem;
    padding: 0 .26667rem 0 .56rem;
    width: 1.2rem;
}

.search,
.words {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.word {
    position: relative;
}

.search {
    align-items: flex-start;
    background: rgba(0, 0, 0, .1);
    border-radius: .46667rem;
    color: #fff;
    font-size: .4rem;
    height: .85333rem;
    justify-content: flex-start;
    margin: 0 .4rem 0 0;
    padding: 0 .13333rem 0 .26667rem;
    position: relative;
}

#search::-webkit-input-placeholder {
    color: #f7f9fa;
}

.search-img {
    width: 20px;
    height: 20px;
    margin-top: 6px;

}

#search {
    font-size: 16px;
    position: relative;
    top: -24px;
    left: 24px;
    background: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.span-img {
    font-size: 17px;
    top: -3px;
    position: relative;
    left: 3px;
}

button {
    background: rgba(0, 0, 0, .1) url(../img/wode1.png) 50% no-repeat;
    background-size: .66667rem .66667rem;
    border: none;
    border-radius: 50%;
    height: .66667rem;
    margin: 0 .37333rem 0 0;
    padding: .09333rem;
    width: .66667rem;
}

#subNav {
    border-bottom: 1px solid #eee;
    display: flex;
    font-size: .45333rem;
    height: 1.26667rem;
    justify-content: space-around;
    max-width: 10rem;
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
}

#subNav a {
    align-items: center;
    color: #333;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 .13333rem;
    position: relative;
}

#sub {
    margin: 0 auto;
    max-width: 10rem;
    width: 100%;
}

#sub .nav-item-active {
    color: #ee1a1a;
    border-bottom: 1px #ee1a1a;
}

.nav-item {
    align-items: center;
    color: #333;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 .13333rem;
    position: relative;
}

.nav-slider {
    left: 12.5%;
}

.home-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-channelNav {
    background: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    font-size: .42667rem;
    justify-content: space-between;
    max-height: 2rem;
    overflow: hidden;
    position: relative;
    transition: max-height .2s linear;
}

.home-channelNav-expend {
    max-height: 1024px;

}

.home-channelNav .nav-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: .84rem;
    justify-content: center;
    margin: .08rem;
    width: 1.46667rem;
    word-break: keep-all;
}

#s-more {
    background: #f8f8f8 url(../img/xiala.png) 50% no-repeat;
    background-size: .42667rem .21333rem;
    border: none;
    bottom: 0;
    height: .84rem;
    margin: .08rem;
    padding: 0;
    position: absolute;
    right: 0;
    width: 1.46667rem;
    z-index: 5;
}


.home-channelNav .s-small {
    font-size: .34667rem;
}

.home-topNews {
    border-bottom: 1px solid #eee;
    margin: 0 .37333rem;
    padding: .06667rem 0;
}

.cards-one {
    color: rgb(40, 40, 40);
    font-size: .48rem;

}

.home-topNews .cards-one article {
    min-height: unset;
}

.home-topNews .cards-one article .s-left {
    min-height: unset;
}

.home-topNews .cards-one article h4 {
    max-height: 2rem;
}

.s-info {
    align-items: center;
    color: #999;
    display: flex;
    font-size: .32rem;
}

.cards-one article h4 {
    color: rgb(37, 36, 36);
    font-size: .46rem;
    font-weight: 400;
    line-height: .66667rem;
    margin: 0;
    max-height: 1.33333rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-source {
    margin: 0 .21333rem 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .32rem;
}

.s-holder {
    flex-grow: 1;
}

.home-channelNews {
    border-bottom: .16rem solid #f8f8f8;
    padding: 0 .37333rem;
}

.cards-one article {
    align-items: center;
    display: flex;
    min-height: 2.89333rem;
}

.s-reply {
    flex-shrink: 0;
    margin: 0 .21333rem 0 0;
    font-size: .32rem;
}

.s-holder {
    flex-grow: 1;
}

.s-openApp {
    align-items: center;
    border: .02667rem solid #ee1a1a;
    border-radius: 1.33333rem;
    box-sizing: content-box;
    color: #ee1a1a;
    display: flex;
    flex-shrink: 0;
    font-size: .32rem;
    height: .58667rem;
    justify-content: center;
    padding: 0 .24rem;
}

.cards-one article .s-left {
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    justify-content: space-between;
    min-height: 2.33333rem;
    min-width: 0;
}

.cards-one article .s-right {
    border-radius: .08rem;
    flex-shrink: 0;
    height: 2.22667rem;
    margin: 0 0 0 .4rem;
    position: relative;
    width: 2.90667rem;
}

.s-right img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.home-channelNews li {
    border-top: 1px solid rgb(220, 215, 215);
}

.cards-bigImg {
    color: #333;
    font-size: .48rem;
}

.cards-bigImg article {
    display: flex;
    flex-direction: column;
    min-height: 2.89333rem;
    padding: .21333rem 0;
}

.cards-bigImg article h4 {
    font-weight: 400;
    line-height: .66667rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 7px;
}

.cards-bigImg article .s-img-wrap img {
    border-radius: .08rem;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.home-channelNews footer a {
    padding: .06667rem;
    align-items: center;
    color: #ee1a1a;
    display: flex;
    display: inline-flex;
    font-size: 16px;
}

.home-channelNews footer .i-arrow {
    font-size: .24rem;
    margin: 0 0 0 .2rem;
}

.home-channelNews footer .i-arrow button {
    background: url(../img/jr.png);
    width: 9px;
    height: 15px;
}

.home-channelNews footer a:nth-child(1) {
    margin-left: 18px;
}

.home-channelNews footer a:nth-child(2) {
    margin-left: 80px;
}

#subNav .clicked {
    color: #ee1a1a;
}

.home-channelNews header {
    align-items: center;
    display: flex;
    font-size: .48rem;
    height: 1.2rem;
    justify-content: space-between;
}

.home-channelNews header h2 {
    font-size: .53333rem;
    margin: 0;
    padding: 0;
}

.home-channelNews header a {
    color: #333;
}

.home-channelNews header nav a {
    margin: 0 .06667rem;
    padding: .06667rem;
}

.s-stag {
    color: #f52727;
    font-size: 12px;
    margin-right: 7px;
}

#jz {
    margin-left: 100px;
}

.home-sitemap {
    padding: 0 .37333rem .26667rem;
}

.home-sitemap h2 {
    align-items: center;
    display: flex;
    font-size: .53333rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
}

.home-sitemap .sitemap-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: .42667rem;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.home-sitemap .sitemap-nav .nav-item {
    align-items: center;
    display: flex;
}

.home-sitemap .nav-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: .84rem;
    justify-content: center;
    margin: .08rem;
    width: 1.46667rem;
    word-break: keep-all;
}

.home-footer {
    background: #f8f8f8;
    flex-direction: column;
    padding: 1.06667rem 0;
}

.home-footer .s-links {
    align-items: center;
    color: #333;
    display: flex;
    font-size: .42667rem;
    margin: 0 0 .66667rem;
}

.home-footer .s-links .s-link {
    align-items: center;
    display: flex;
    margin: 0 .33333rem;
    color: #333;
}

.s-link img {
    width: 25px;
    height: 25px;
}

.s-link a {
    font-size: 13px;
}

.s-feedback {
    padding-left: 60px;
}

.home-footer .s-copyright {
    color: #999;
    font-size: .32rem;
    margin-left: 100px;
}

.floatMenu-toTop {
    background: hsla(0, 0%, 100%, .95) url(../img/huiqu.png) 50% no-repeat;
    background-size: .53333rem .53333rem;
    border-radius: 50%;
    box-shadow: 0 0 0.10667rem 0 rgb(0 0 0 / 12%);
    height: 1.06667rem;
    opacity: 0;
    pointer-events: none;
    width: 1.06667rem;
}

.widget-floatMenu {
    align-items: center;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 0;
    position: fixed;
    right: .37333rem;
    z-index: 999;
}

.widget-floatMenu button {
    background: hsla(0, 0%, 100%, .95) url(../img/huiqu.png) 50% no-repeat;
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s linear;
    border: none;
    font-size: 0;
    width: 50px;
    height: 50px;
}

@media (prefers-color-scheme: dark) {
    #app {
        background: #fff;
    }

    #hometopHeader {
        background: #656262;
        color: #fff;
    }

    #sub .nav-item-active {
        color: #766e6e;
        border-bottom: 1px #5e5656;
    }

    .home-channelNews img {
        filter: grayscale(1)
    }

    .s-openApp {
        color: #999;
        border: 1px solid #000;
    }

    .home-channelNav a {
        color: #999;
    }

    #jz {
        color: #999;
    }

    .home-channelNews footer a {
        color: #999;
    }

    .s-stag {
        color: #999;
    }

    .home-channelNews footer .i-arrow button {
        background: url(../img/jr2.png);
        width: 14px;
        height: 17px;
    }
}