 html,
 body,
 ul,
 li,
 p,
 div,
 form,
 span {
     padding: 0;
     margin: 0;
 }
body{
    min-width: 367px;
}
#indexheader {
    font-size: 14.4px;
    width: 100%;
    position: relative;
    z-index: 128;
}

.topbar {
    height: 44.1px;
    background-color: #f33;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.topbar .ulogo {
    background: url(../img/logowy.png) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 50px;
    height: 25px;
    margin: -12.5px 0 0 -25px;
    position: absolute;
    left: 50%;
    top: 50%;
}


.u-logo div {
    margin-top: 7.8px;
    width: 26.4px;
    height: 28.8px;
}

.u-logo-img1 {
    background: url(../img/login_bg.png) 0 0 no-repeat;
    background-size: cover;
}
.inputbox {
    height: 45.6px;
    font-size: 0;
    line-height: 1;
    border-radius: 3px;
    margin-top: 55px;
    z-index: 1;
}
.u-input {
    position: relative;
    width: 240px;
    margin: 0 auto;
}

 .u-label {
    position: absolute;
    width: 306px;
    z-index: 100;
    top: 0;
    left: 10px;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: normal;
    cursor: text;
}
.u-input input {
    height: 33.6px;
    line-height: 1;
    padding: 6px 0;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid rgb(216, 210, 210);
    width: 240px;
}
#passwd{
    margin-top: -30px;
}
.fur-change-email {
    position: relative;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}
button{
    color: #fff;
    background-color: #f00;
    border:none;
    width: 66%;
    height: 40px;
    margin: 0 0 0 65px;
    font-size: 16px;
}
.fur-item {
    position: relative;
    margin: 0 auto;
    width: 240px;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
}
.fur-agree {
    color: #999;
}
.u-logbtn.bgcolor {
    color: #999;
}
.u-logbtn {
    cursor: pointer;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 83%;
    
}
 .u-loginbtn {
     display: block;
     width: 100%;
     height: 44px;
     cursor: pointer;
     text-align: center;
     color: #fff;
     background: #ddd;
     font-size: 18px;
     line-height: 44px;
 }
 #dologin {
     background: #f33;
     border-radius: 6px;
     height: 42px;
     font-size: 14.4px;
     line-height: 42px;
     width: 63%;
     margin: 20px auto 0 auto;
     border: none;
 }
.third_login {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 30px;
}

.third_login .title {
    font-size: 10.8px;
    width: 50%;
    margin: -5.4px auto 0;
    text-align: center;
    background: #fff;
    color: #6f6f6f;
    line-height: 1;
    font-size: 14px;
}

.third_login .select_section {
    padding: 13.5px 0;
    font-size: 0;
    text-align: center;
}

.third_login .select_section .section_wrap {
    width: 25%;
    margin: 13.5px 0;
    display: inline-block;
    text-align: center;
}

.section_wrap {
    padding-bottom: 20px;
    padding-top: 20px;
}

.iconfont_qq>span {
    color: #68a5e1;
    font-size: 35px;
}

.iconfont_weibo>span {
    color: #f56467;
    font-size: 35px;
}
 a{
    text-decoration: none;
}
 .error {
     display: inline-block;
     font-size: 12px;
     font-weight: bold;
     margin-left: 10px;
     color: #f00;
     display: none;
     margin-top: 5px;
 }
 .loginFooter {
     width: 100%;
     max-width: 400px;
     margin: 20px auto 0px auto;
     display: flex;
     flex-flow: nowrap;
     justify-content: space-around;
 }
 .loginFooter>.text {
     font-size: 15px;
     color: rgb(135, 135, 135);
     width: 60px;
 }
 .marginBottom {
     margin-bottom: 20px;
 }
 #login-form {
     margin-top: 60px;
 }

 #login-form>input[type="submit"] {
     width: 70%;
     max-width: 400px;
     border: none;
     margin-top: 40px;
 }
 .loginInputFrame {
     width: 70%;
     max-width: 400px;
     margin: 0px auto 20px auto;
     position: relative;
 }

 .loginInput {
     width: 100%;
     border: 1px solid rgb(196, 196, 196);
     border-radius: 3px;
     line-height: 40px;
     font-size: 16px;
     box-sizing: border-box;
     padding-left: 10px;
     outline: none;
 }